html, body {
    height: 100%;
    background-color: rgb(196, 206, 206);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: "Lato";
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.gumbi {
    margin-right: 20px;
    margin-top: 20px;
    text-decoration-color: #ffffff;
}

.logo {
    margin-top: 4%;
}

.slika_logo {
    width: 70%;
    height: 90%;
}

.kontakt {
    font-size: 120%;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Courgette', cursive;
} 

.quote {
    /*font-family: "Snell Roundhand", Times, cursive;*/
    font-family: 'Courgette', cursive;
}

.opis_Vincencij {
    font-family: 'Courgette', cursive;
    margin-left: 20px;
}

.navigacija {
    color: rgb(196, 206, 206);
}

.navigaciija_text {
    font-size: larger;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Courgette', cursive;
}

.clanek_text {
    font-size: 120%;
    font-family: 'Courgette', cursive;
}

.naslov_text {
    font-size: 200%;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Courgette', cursive;
}

.pod_naslov_text {
    font-size: 150%;
    font-family: 'Courgette', cursive;
}

.slideshow {
    max-height:800px;
    height:auto;
    width:auto;
}

footer {
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
}

.footerText {
    color: #ffffff;
}

.ozadje_articli {
    background-color: #ffe6ec;
}

.fit {
  max-width: 99%;
  max-height: 99%;
}

.collapse {
    display: none;
}

.overlay_naslov_text {
    font-size: 160%;
    font-family: 'Courgette', cursive;
}

.podstrani_text {
    font-size: 300%;
    font-family: 'Courgette', cursive;
}

#registracija_text {
    font-size: 120%;
    font-family: 'Courgette', cursive;
}






/* ---------- KOLEDAR ---------- */

.next_round {
    color: black;
    border-radius: 50%
}

.koledar_dnevi {
    cursor: pointer;
    font-size: 100%;
    font-color: black;
    font-family: 'Courgette', cursive;
}

#koledar_mesec {
    font-size: 200%;
    font-family: 'Courgette', cursive;
}

#koledar_prev {
    cursor: pointer;
    font-size: 200%;
    font-family: 'Courgette', cursive;
}

#koledar_next {
    cursor: pointer;
    font-size: 200%;
    font-family: 'Courgette', cursive;
}

#koledar_datum {
    font-size: 400%;
    font-color: black;
    font-family: 'Courgette', cursive;
}

#koledar_dan {
    font-size: 250%;
    font-color: black;
    font-family: 'Courgette', cursive;
}

#koledar_dogodek {
    font-size: 150%;
    font-color: black;
    font-family: 'Courgette', cursive;
}

.koledar_dogodki {
    cursor: pointer;
    font-color: black;
    font-family: 'Courgette', cursive;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody td:hover {
    border: 2px solid rgb(196, 206, 206);
}

.clicked_koledar {
    background: rgb(216, 226, 226);
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 8em;
    line-height: 8em;
    text-align: center;
    width: 8em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: rgb(196, 206, 206);
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

/*
prej barve:
1. rgba(249, 128, 128, 0.52)
2. rgb(196, 206, 206)
3. #ffe6ec
4. rgb(226, 224, 224)
*/

.event:after {
    background: rgb(196, 206, 206);
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}

